body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;

  grid-template-areas: 
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer"
  ;

  gap: 10px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: header;
  background-color: #006157;
}

.sidebar {
  grid-area: sidebar;
  background-color: #005B94;
}

.nav {
  grid-area: nav;
  background-color: #642cde;
}

.article {
  grid-area: article;
  background-color: #7E1DC3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}